/* app css stylesheet */

body {
  padding-top: 20px;
  background-color: lightgray;
  font-family: Verdana ;
}


.pizza-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.pizzas {
  list-style: none;
  background-color: #f7f7f7;
  font-family: Verdana ;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
  background-color: lightgray;
  font-family: Verdana ;
}

.pizzas li {
  clear: both;
  height: 115px;
  padding-top: 15px;
  background-color: lightgray;
  font-family: Verdana ;
}

/** Detail View **/
img.pizza {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.pizza:first-child {
  display: block;
  font-family: Verdana ;
}


ul.pizza-thumbs {
  margin: 0;
  list-style: none;
  font-family: Verdana ;
}

ul.pizza-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
}

ul.pizza-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
  font-family: Verdana ;
}

ul.pizza-thumbs img:hover {
  cursor: pointer;
  font-family: Verdana ;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;  
  font-family: Verdana ;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
  font-family: Verdana ;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
  font-family: Verdana ;
}

ul.specs dt {
  font-weight: bold;
  background-color: lightgray;
  font-family: Verdana ;
}

h1 {
  border-bottom: 1px solid gray;
  background-color: lightgray;
  font-family: Verdana ;
}
