    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">

        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="note">Note</option>
        </select>

        Panier:
        <li ng-repeat="pizz in panier track by $index">
          <a href="#/pizzas/{{pizza.id}}">{{pizz.name}} {{pizz.comment}}</a>
          <!--<button ng-click="removePizza()">Annuler</button>-->
        </li>

        <button>Commander !</button>


      </div>
      <div class="col-md-10">
        <!--Body content-->
        <ul class="pizzas">
          <li ng-repeat="pizza in pizzas | filter:query | orderBy:orderProp" class="thumbnail pizza-listing">
            <a href="#/pizzas/{{pizza.id}}" class="thumb"><img ng-src="{{pizza.img}}"></a>
            <a href="#/pizzas/{{pizza.id}}">{{pizza.name}}</a>
            <p>{{pizza.description}}</p>
            <form name="numberOfPizza">
              Nombre : <input type="number" name="input" ng-model="value"
                             min="0" max="999" required>
            </form>
            <input type="text" name="comment" ng-model="comment"</input>
            <button ng-click="addPizza(pizza,comment,value)">Ajouter a la commande</button>
          </li>
        </ul>
      </div>
    </div>