<div class="row">
    <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">
        </br>
        </br>
        Sort by:
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
        </select>
        </br>
        </br>
        Panier:
        <ul ng-repeat="pizz in panier track by $index">
            <a href="#/pizzas/{{pizza.id}}">{{pizz.name}} {{pizz.comment}}</a>
            <button ng-click="removePizza($index)" class="btn btn-sm btn-danger">x</button>
        </ul>
        </br>
        <form name="numberOfPizza">
            table : <input id="table" type="number" name="input" ng-model="value" ng-change="changement()"
                           min="0" max="40" required="required">
        </form></br>
        <button id="bouton_commander" ng-click="placeOrder(value)" class="btn btn-sm btn-success" ng-disabled="isDisabled">Commander !</button></br>
        <p>{{statut}}</p>

    </div>
    <div class="col-md-10">
        <!--Body content-->
        <ul class="pizzas">
            <li ng-repeat="pizza in pizzas | filter:query | orderBy:orderProp" class="thumbnail pizza-listing">
                <a href="#/pizzas/{{pizza.id}}" class="thumb"><img ng-src="{{pizza.img}}"></a>
                <a href="#/pizzas/{{pizza.id}}">{{pizza.name}}</a>
                <p>{{pizza.description}}</p>
               <!-- <input type="text" name="comment" placeholder="Commentaires" ng-model="comment"> -->
                <button ng-click="addPizza(pizza,comment)" class="btn btn-sm btn-info">Ajouter à la commande</button>
            </li>
        </ul>
    </div>
</div>